.service{
    margin-top: 20px;
    background-color: white;
    align-content: center;
    overflow-x: hidden;
}
.card{
    text-align: center;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    border-radius: 5px;
    padding-left: -60px;
    padding-right: -60px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}
.cards{
    gap: 50px;
    padding-top: 20px;
    justify-items: center;
}
.subheader,.description{
    text-align: center;
    font-family: "Work Sans";

}
.list{
    display: flex;
    flex-direction: column;
    font-family: "Work Sans";
    font-size: 16px;
}
.btm{
    background-color:#212529;
    padding: 5px 20px 5px 0px;
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
    border-color:black;
    border-style: none;
    color: white;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}
.lists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraphcard{
    font-size: 15px;
    color: gray;
    padding: 5px;
}
li{
    color:black;
    list-style: none;
    padding-top: 10px;
    gap: 16px;
    font-size: 13px;

}
.mark{
    padding-top: 10px;
    padding-right: 20px;
}
.subheader{
    font-weight: 700;
}
.description{
    font-weight: 400;
    font-size: 20px;
}
.head{
    font-weight: 400;
    font-family: "Work Sans";
}
.dollar{
    font-size: 30px;
    font-weight:700;
    font-family: "Work Sans";
}
.month{
    font-size: 20px;
    color: gray;
    font-family: "Work Sans";
    font-weight: 400;
}
@media screen and (min-width:600px){
    .cards{
        justify-content: center;
        transform: translateX(0px);
        gap: 0px;
    }
    .subheader{
        font-weight: 700;
        font-size: 35px;
    }
    .card{
        padding: 10px;
        margin: 10px;
    }
    
li{
    list-style: none;
    padding-top: 10px;
    gap: 15px;
    font-size: 16px;
}
.paragraphcard{
    font-size: 17px;
}
.btm{
    background-color:black;
    padding: 5px 0px 5px 0px;
    font-size: 16px;
    border-radius: 5px;
    border-color:black;
    border-style: none;
    color: white;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
    
}
    
}
@media screen and (min-width:1000px) {
    .cards{
        transform: translateX(150px);
    }
}
