.nav{
    padding:20px 20px 20px 20px;
}
.port{
    padding:20px 90px 20px 90px;
    background-color: white;
}
h3{
    color: #74C69D;
    text-align: center;
    font-weight: 400;
}
.header-portfolio{
    text-align: center;
}
.subheader{
    font-size: 25px;
}
.portfolio-description{
    font-size: 20px;
}
.portpic{
    width: 100%;
    padding: 10px;
}
.portfolio-pic{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 10px; 
}

@media screen and (min-width:500px){
    .portfolio-pic{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
}
.portpic{
    width: 100%;
    padding: 10px;
}
}
